music21==4.1.0
numpy==1.13.3
protobuf==3.3.0
tensorflow==1.1.0
scikit-learn==0.19.0
matplotlib==2.0.2
tflearn==0.3.2
h5py==2.7.1
biopython==1.70
scipy==1.0.0
intervaltree==2.1.0
termcolor==1.1.0
pyexcel==0.5.6
pyexcel-xlsx==0.5.4
aiohttp==2.3.10
imageio==2.2.0
expiringdict==1.1.4
msgpack==0.5.1
ad3==2.1
cvxopt==1.1.9
https://github.com/pystruct/pystruct/archive/23c6d8f6ab34a88b63386a595debbfdfa13345fe.zip
tabulate==0.8.2
